@model TMDT.Models.DashBoard
@{
    ViewBag.Title = "KenhNgBan";
    Layout = "~/Views/Shared/Layout-NgBan.cshtml";
}
<div class="col l-6 m-12 c-12">
    <div class="home-product">
        <div class="row sm-gutter" style="padding-right: 16px;">
            <div class="card card-offset">
                <div class="title">
                    Danh sách cần làm
                    <p class="card-tips">Những việc bạn sẽ phải làm</p>
                </div>
                <div class="async-data-wrapper">
                    <div class="status">
                        <div class="to-do-box">
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">@Model.TotalNewOrders</p>
                                <p class="item-desc">Chờ xác nhận</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">@Model.TotalWaitingOrders</p>
                                <p class="item-desc">Chờ lấy hàng</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">@Model.TotalOnWayOrders</p>
                                <p class="item-desc">Đang giao</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">@Model.TotalCompleteOrders</p>
                                <p class="item-desc">Đã giao</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">@Model.TotalCancelOrders</p>
                                <p class="item-desc">Đơn hủy</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">@Model.ProductOutOfSold</p>
                                <p class="item-desc">Sản phẩm hết hàng</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-offset">
                <div class="title">
                    Phân tích doanh thu
                    <p class="card-tips">Tổng quan dữ liệu của shop đối với đơn hàng đã xác nhận</p>
                </div>
                <div class="async-data-wrapper">
                    <div class="status">
                        <div class="dashboard-group" style="justify-content: flex-start; margin: 0 20px;">
                            <img src="@Url.Action("Chart")" style="width: 100%; height: 500px; object-fit: fill; box-shadow: 0 7px 8px 0 rgb(0 0 0 / 10%); " />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col l-2">
    <div class="home-product">
        <div class="row sm-gutter" style="width: 318px;">
            <div class="card card-offset">
                <div class="title">
                    Thông báo
                </div>
                <div class="async-data-wrapper">
                    <div class="status">
                        <div class="to-do-box">
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">0</p>
                                <p class="item-desc">Chờ xác nhận</p>
                            </a>
                            <a href="#" class="to-do-box-item">
                                <p class="item-title">0</p>
                                <p class="item-desc">Chờ lấy hàng</p>
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>


