@model TMDT.Models.VOUCHERSHOP

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout-NgBan.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VOUCHERSHOP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDVOUCHERSHOP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDVOUCHERSHOP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENVC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENVC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIAMGIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAMGIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYBD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYBD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYKT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYKT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIEUKIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIEUKIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SOLUONGSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOLUONGSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DADUNG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DADUNG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIATRITOITHIEU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIATRITOITHIEU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDCUAHANG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCUAHANG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDTRANGTHAIVC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDTRANGTHAIVC)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
