@model TMDT.Models.Cart

@using TMDT.Controllers
@{
    ViewBag.Title = "ShowToCart";
    Layout = "~/Views/Shared/Layout-NgMua.cshtml";
    var groupedItems = Model.Items.GroupBy(item => item.sanpham.IDCUAHANG);
}

<div class="app__container" style="height: 100%;">
    <div class="grid wide">
        <div class="row sm-gutter app__content">
            <div class="col l-12 m-12 c-12">
                <div class="title-page">
                    <i class='bx bx-cart-alt bx-lg'></i>
                    Giỏ hàng của bạn
                </div>
                @if (Model != null)
                {
                    <div class="header-show-to-cart">
                        <div class="header-show-to-cart__product">Sản phẩm</div>
                        <div class="header-show-to-cart__price">Đơn giá</div>
                        <div class="header-show-to-cart__quanlity">Số lượng</div>
                        <div class="header-show-to-cart__cost">Số tiền</div>
                        <div class="header-show-to-cart__action">Thao tác</div>
                    </div>
                    foreach (var group in groupedItems)
                    {
                        var cuahang = group.First().sanpham.CUAHANG;
                        <section class="section-cart" style="margin-bottom: 50px;">
                            <div class="cart-shop-info-wrapper">
                                <div class="cart-shop-info">
                                    <a href="#" class="cart-shop-link">
                                        <i class='bx bx-store bx-md'></i>
                                        <img src="@Url.Content(cuahang.ANHDAIDIEN)" alt="Alternate Text" />
                                        <span style="margin-left: 10px; font-size: 1.4rem;">@cuahang.TENCH</span>
                                    </a>
                                </div>
                            </div>
                            @foreach (var item in group)
                            {
                                double total = Convert.ToDouble(item.sanpham.GIAGIAM.Value * item.soluong);
                                <section class="cart-product-wrapper">
                                    <div class="cart-product">
                                        <div class="cart-product-info">
                                            <div class="cart-product-info-wrapper">
                                                <div class="cart-product-info-inner">
                                                    <a href="#" class="cart-product-info__img">
                                                        <img src="@Url.Content(item.sanpham.HINHANH1)" alt="Alternate Text" />
                                                    </a>
                                                    <div class="cart-product-info__title">
                                                        <a href="#" class="cart-product-info__title-link">@item.sanpham.TENSP</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="o7pJBk" style="display: flex; align-items: center; justify-content: center; width: 17.24138%; "></div>
                                            <div class="cart-product-price">
                                                <div>
                                                    <span style="margin: 0; font-size: 1.5rem;">@String.Format("{0:#,##0} đ", item.sanpham.GIAGIAM)</span>
                                                </div>
                                            </div>
                                            <div class="cart-product-quantity">
                                                @using (Html.BeginForm("Update_Sl", "ShoppingCart",FormMethod.Post, new { @style = "display: flex; align-items: center;  justify-content: center;  flex-direction: column;" }))
                                                {
                                                    <div class="tafi-input-quantity">
                                                        <button type="button" class="button-quantity decrease" aria-label="Decrease"><i class='bx bx-minus'></i></button>
                                                        <input type="hidden" value="@item.sanpham.IDSANPHAM" name="ID_sanpham" />
                                                        <input type="text" name="Soluong" value="@item.soluong" class="button-quantity input-quantity"/>
                                                        <button type="button" class="button-quantity increase" aria-label="Increase"><i class='bx bx-plus'></i></button>
                                                    </div>
                                                    <button type="submit" class="button-update-quantity">Cập nhật</button>
                                                }
                                                @if (item.ErrorMessage != null)
                                                {
                                                    <p style="color:red;" id="thongbao">@item.ErrorMessage</p>

                                                }
                                            </div>
                                            <div class="cart-product-cost">
                                                <span>@total.ToString("0,0 đ")</span>
                                            </div>
                                            <div class="cart-product-action">
                                                <a href="/ShoppingCart/RemoveCart/@item.sanpham.IDSANPHAM">Xóa</a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            }
                            <div class="cart-product-purchase">
                                <div class="cart-product-purchase-wrapper">
                                    <div style="display: flex; flex-direction: column;">
                                        @*<div>
                                            <div class="checkout-voucher-shop">
                                                <div class="checkout-voucher-shop__title">Voucher shop</div>
                                                <label href="#">Chọn voucher</label>
                                            </div>
                                        </div>*@
                                        <div class="cart-product-purchase__total">
                                            <div class="cart-product-purchase__total-title">Tổng thanh toán</div>
                                            <div class="cart-product-purchase__total-price">@Model.Tongtien()[cuahang.IDCUAHANG].ToString("0,0 đ")</div>
                                            <a href="@Url.Action("Checkout", "ShoppingCart", new { id = cuahang.IDCUAHANG })" class="cart-product-purchase__total-checkout">Mua hàng</a>
                                            @*@using (Html.BeginForm("Checkout", "ShoppingCart"))
                                            {
                                                <label for="button-show" class="cart-product-purchase__total-checkout">Mua hàng</label>
                                                <input type="checkbox" class="button-show-check-out" id="button-show">
                                                <label for="button-show" class="overlay2"></label>
                                                <div class="checkout">
                                                    <label for="button-show" class="checkout-close">
                                                        <i class="fas fa-times"></i>
                                                    </label>
                                                    <div class="checkout-main">
                                                        <div class="checkout-main__header">
                                                            <a href="#" class="logo" style="color: #000;">
                                                                <h1 class="logo-text">TFT SHOP</h1>
                                                            </a>
                                                        </div>
                                                        <div class="checkout-main-content">
                                                            <h3 class="checkout-main-label" style="margin-bottom: 20px;">Thông tin giao hàng</h3>

                                                            <div class="fieldset">
                                                                <div class="field">
                                                                    <input type="text" class="field-input" name="Hovaten" id="" placeholder="Họ và tên" required>
                                                                </div>
                                                            </div>

                                                            <div class="fieldset">
                                                                <div class="field">
                                                                    <input type="text" class="field-input" name="SDT" id="" placeholder="Số điện thoại" required>
                                                                </div>
                                                            </div>
                                                            <div class="fieldset">
                                                                <div class="field">
                                                                    <input type="text" class="field-input" name="Diachi" id="" placeholder="Địa chỉ" required>
                                                                </div>
                                                            </div>

                                                            <div class="fieldset">
                                                                <div class="field">
                                                                    <p class="checkout-method"> Phương thức thanh toán</p>
                                                                </div>
                                                            </div>

                                                            <a for="button-show_checkout" href="">
                                                                <button style="width:452px">
                                                                    <strong>MUA NGAY</strong>
                                                                    <br />
                                                                    <span style="font-size:18px">(Giao nhanh từ 2 giờ hoặc nhận tại cửa hàng)</span>

                                                                </button>
                                                            </a>


                                                            <br />
                                                            <h3 style="text-align:center"> Hoặc </h3>

                                                            <a for="button-show_checkout" href="#">
                                                                <button style="width:452px" formaction="">
                                                                    <strong>THANH TOÁN QUA THẺ</strong>
                                                                    <br />
                                                                    <span style="font-size:18px">(Thẻ VNPAY)</span>

                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    }

                }
            </div>

        </div>
    </div>
</div>

<script>
    // Lấy tất cả các phần tử có class "button-quantity input-quantity"
    var quantityInputs = document.querySelectorAll(".button-quantity.input-quantity");

    // Lặp qua từng ô input và gán sự kiện cho nút "tăng" và "giảm" tương ứng
    quantityInputs.forEach(function (input) {
        var decreaseButton = input.parentElement.querySelector(".decrease");
        var increaseButton = input.parentElement.querySelector(".increase");

        decreaseButton.addEventListener("click", function () {
            // Giảm giá trị khi bấm nút "-"
            var currentValue = parseInt(input.value);
            if (!isNaN(currentValue) && currentValue > 0) {
                input.value = currentValue - 1;
            }
        });

        increaseButton.addEventListener("click", function () {
            // Tăng giá trị khi bấm nút "+"
            var currentValue = parseInt(input.value);
            if (!isNaN(currentValue)) {
                input.value = currentValue + 1;
            }
        });
    });
</script>

