@using PagedList;
@using PagedList.Mvc;
@model TMDT.Models.ShopViewModel
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/Layout-NgMua.cshtml";
}

<div class="app__container">
    <div class="grid wide">


        <div class="row sm-gutter app__content">

            <div id="toast">
                <div class="toast">
                    <div class="toast__icon">
                        <i class="fas fa-check-circle"></i>
                    </div>
                    <div class="toast__body">
                        <h3 class="toast__title">Thành công!</h3>
                        <p class="toast__msg">Sản phẩm được thêm vào giỏ hàng thành công!</p>
                    </div>
                    @*<div class="toast__close">
                            <i class="fas fa-times"></i>
                        </div>*@
                </div>

            </div>




            <div class="col l-12 m-12 c-8">
                <div class="home-product" style="margin-bottom: 0;">
                    <div class="l-12">
                        <div class="row l-12 m-12 c-12">
                            <div class="col l-12 m-12 c-8">
                                <div class="home-product-item-case shadow-box" style="position: relative; overflow: hidden; padding: 20px; display: block; margin-bottom: 0;">
                                    <div class="page-product__shop">
                                        <div class="page-product__shop-background" style="background-image: url('@Url.Content(Model.CuaHang.HINHANH)') "></div>
                                        <div class="page-product__shop-background-break"></div>
                                        <div class="page-product__shop-info" style=" max-width: 119.2rem;">
                                            <a href="#" class="shop-info-image">
                                                <div class="shop-info-image__wrapper">
                                                    <img src="@Url.Content(Model.CuaHang.ANHDAIDIEN)" />
                                                </div>
                                            </a>
                                            <div class="shop-info-main">
                                                <div class="shop-info-main__name" style="z-index: 1; color: white;">@Html.DisplayFor(modelItem => Model.CuaHang.TENCH)</div>
                                                <div class="shop-info-main__state" style="display: none;"></div>
                                                <div class="shop-info-main__shop" style="margin-top: 15px;">
                                                    <a href="#" class="shop-info-main__shop-link" style="margin-right: 10px;">
                                                        <i class='bx bx-plus bx-md' style="margin-right: 5px; flex-shrink: 0;"></i>
                                                        <span>Theo dõi</span>
                                                    </a>
                                                    <a href="#" class="shop-info-main__shop-link">
                                                        <i class='bx bx-chat bx-md' style="margin-right: 5px; flex-shrink: 0;"></i>
                                                        <span>Trò chuyện</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l-12 m-12 c-8">
                <div class="home-product">
                    <div class="l-12">
                        <div class="row l-12 m-12 c-12">
                            <div class="col l-12 m-12 c-8">
                                <div class="home-product-item-case shadow-box" style="padding: 20px 0 0 0; display: block;">
                                    <div class="shop-categories">
                                        <div class="shop-categories-item border-b">Tất cả sản phẩm</div>
                                        <div class="shop-categories-item">Thời trang</div>
                                        <div class="shop-categories-item">Điện thoại</div>
                                        <div class="shop-categories-item">Giày dép</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col l-12 m-12 c-8">
                <div class="vocuher-shop-detail shadow-box product__detail" style="padding: 20px; display: block; margin-bottom: 20px; max-width: 1190px;">
                    <section class="product-detail-wrapper">
                        <h2 style="font-size: 1.5rem;">Mã giảm giá của shop</h2>
                        <div class="voucher-shop-list" style="display: flex; overflow: auto; flex-wrap: wrap; justify-content: space-between; max-height: 120px; ">
                            @if (ViewBag.voucherShop != null)
                            {
                                foreach (var item in ViewBag.voucherShop)
                                {
                                    <form action="@Url.Action("SaveVoucher", "Shop")" method="post">
                                        <div class="voucher-shop-card">
                                            <div class="voucher-shop-card__left">
                                                <div class="voucher-shop-card__left-title">Giảm <span>@item.GIAMGIA</span></div>
                                                <div class="voucher-shop-card__left-condition">Đơn tối thiểu <span>@item.GIATRITOITHIEU</span></div>
                                                <div class="voucher-shop-card__left-expiry">HSD: <span>@item.NGAYKT</span></div>
                                            </div>
                                            <div class="voucher-shop-card__right">
                                                <input type="hidden" name="id" value="@item.IDVOUCHERSHOP" />
                                                <button type="submit" class="voucher-shop-card__right-save">Lưu</button>
                                            </div>
                                            @*<div class="voucer-shop-card__quantity" style="right: -1%;">
                                                <span>@item.SOLUONGSD</span>
                                            </div>*@
                                        </div>
                                    </form>
                                }
                            }
                        </div>
                    </section>
                </div>
            </div>
            <div class="col l-12 m-12 c-8">
                <div class="home-product" style="max-width: 1190px;">
                    <div class="row sm-gutter">
                        @if (Model.SanPhamPagedList != null)
                        {
                            foreach (var item in Model.SanPhamPagedList)
                            {
                                <div class="col l-2-4 m-4 c-6">
                                    <div class="home-product-item">
                                        <div href="" class="home-product-item__link" style="overflow: hidden;">
                                            <a href="@Url.Action("ChiTietSanPham","NgMua", new { id = item.IDSANPHAM })">
                                                <img class="home-product-item__image" src="@Url.Content(item.HINHANH1)" alt="">
                                            </a>
                                        </div>
                                        <h4 class="home-product-item__name">@item.TENSP</h4>
                                        <div class="home-product-item__price">
                                            @if (item.GIABAN != item.GIAGIAM)
                                            {
                                                <span class="home-product-item__price-old">@item.GIABAN</span>
                                            }
                                            else {
                                                <span class="home-product-item__price-old" style="height: 1.6rem;"></span>
                                            }
                                            <span class="home-product-item__price-current">@item.GIAGIAM</span>
                                        </div>
                                        <div class="home-product-item__action">
                                            <span class="home-product-item__like home-product-item--liked">
                                                <i class="home-product-item__like-icon-empty far fa-heart"></i>
                                                <i class="home-product-item__like-icon-fill fas fa-heart"></i>
                                            </span>

                                            <div class="home-product-item__rating">
                                                <i class="home-product-item__star--gold fas fa-star"></i>
                                                <i class="home-product-item__star--gold fas fa-star"></i>
                                                <i class="home-product-item__star--gold fas fa-star"></i>
                                                <i class="home-product-item__star--gold fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <span class="home-product-item__sold">Đã bán 280</span>
                                        </div>

                                        <div class="home-product-item__origin"></div>

                                        <div class="home-product-item__favourite">
                                            <i class="fas fa-check"></i>
                                            <span>Yêu thích</span>
                                        </div>
                                        @if (item.PHANTRAMGIAM != 0)
                                        {
                                            <div class="home-product-item__sale-off">
                                                <span class="home-product-item__sale-off-label">GIẢM</span>
                                                <span class="home-product-item__sale-off-percent">@item.PHANTRAMGIAM %</span>
                                            </div>
                                        }
                                        else { }
                                        <div class="home-product-item__cart" data-product-id="">
                                            <a href="" class="home-product-item__cart-add">
                                                <i class="home-product-item__cart-icon fas fa-shopping-cart"></i>
                                                <button class="home-product-item__cart-order">Thêm vào giỏ hàng</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                    </div>
                </div>
                <div class="">
                    @Html.PagedListPager(Model.SanPhamPagedList, page => Url.Action("Shop", new { page, size = ViewBag.currentSize }))
                </div>
            </div>
        </div>
    </div>
</div>

