@model IEnumerable<TMDT.Models.CTDONHANG>


@{
    ViewBag.Title = "ChiTietDonHang";
    Layout = "~/Views/Shared/Layout-NgMua.cshtml";
    TMDT.Models.TMDTEntities db = new TMDT.Models.TMDTEntities();
    var stt = 0;
}

<style>
    .history-order__date {
        font-size: 1.5rem;
        margin-bottom: 13.4px;
    }
</style>

<div class="app__container">
    <div class="grid wide">


        <div class="row sm-gutter app__content">

            <div class="col l-12 m-12 c-12">

                <div class="home-product" style="background-color: snow; padding: 15px 15px;">

                    <h1>Đơn hàng số: @ViewBag.DonHang.IDDONHANG</h1>
                    <p class="history-order__date"><b>Người nhận:</b> @ViewBag.DonHang.NGUOINHAN </p>
                    <p class="history-order__date"><b>Địa chỉ:</b> @ViewBag.DonHang.DIACHI </p>
                    <p class="history-order__date"><b>Ngày đặt hàng:</b> @string.Format("{0:dd/MM/yyyy HH:mm:ss}", ViewBag.DonHang.NGAYTAO)</p>
                    <div class="history-order">
                        @foreach (var item in Model)
                        {
                            <div class="history-order__product">
                                <div class="history-order__product-items">
                                    @{
                                        var hinh = db.SANPHAMs.FirstOrDefault(dt => dt.IDSANPHAM == item.IDSANPHAM);
                                        if (hinh != null && !string.IsNullOrEmpty(hinh.HINHANH1))
                                        {
                                            var imageUrl = Url.Content(hinh.HINHANH1);
                                            <a href="@Url.Action("ChiTietSanPham", "NgMua", new { id = hinh.IDSANPHAM})">
                                                <img src="@imageUrl" style="width: 140px; object-fit: contain; margin-right: 10px;" />
                                            </a>
                                        }
                                    }
                                    <div class="history-order__product-items_name">
                                        @{
                                            var sanpham = db.SANPHAMs.FirstOrDefault(dt => dt.IDSANPHAM == item.IDSANPHAM);
                                            var tenSanPham = sanpham != null ? sanpham.TENSP : "";
                                        }
                                        <p>@tenSanPham</p>
                                        <p>Số lượng: @item.SOLUONGMUA</p>
                                    </div>
                                </div>

                                <div class="history-order__product-price">
                                    <p>
                                        @*@{
                                            var dongia = db.DIENTHOAIs.FirstOrDefault(dt => dt.DIENTHOAIID == item.DIENTHOAIID);
                                            var tendongia = dongia != null ? string.Format("{0:0,0 đ}", dongia.GIAGIAM) : "";
                                        }
                                        Đơn giá: @tendongia*@
                                    </p>
                                    <p>Tổng tiền: @string.Format("{0:0,0 đ}", item.TONGTIEN)</p>
                                    <div class="home-product-item__detail-cart" data-product-id="@item.IDSANPHAM" style=" display: flex; justify-content: flex-end;">
                                        <a href="/ShoppingCart/AddToCart/@item.IDSANPHAM" class="home-product-item__detail-cart-button" style="border-radius: 20px; margin: unset; margin-top: 20px; width: 126px;">
                                            <i class="home-product-item__detail-cart-icon fas fa-shopping-cart" style=" padding: 12px 12px 12px 0;"></i>
                                            <p class="home-product-item__detail-cart-order">Mua lại</p>
                                        </a>
                                    </div>
                                </div>
                                
                            </div>



                        }
                    </div>
                    <div class="history-order__product-total" style="justify-content: flex-end;">
                        <h2 style="font-size: 2rem; color: var(--primary-color);">Thành tiền: @string.Format("{0:0,0 đ}", ViewBag.DonHang.THANHTIEN)</h2>
                    </div>




                    <div style="margin-top: 13.4px;">
                        <a href="@Url.Action("DonMua", "NgMua")" class="back-to-index">Quay lại</a>

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

