<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kênh người bán</title>

    <link href="~/Content/css-NgBan/base.css" rel="stylesheet" />
    @*<link href="~/Areas/Admin/Content/css/cart.css" rel="stylesheet" />*@
    <link href="~/Content/css-NgBan/dashboard.css" rel="stylesheet" />
    <link href="~/Content/css-NgBan/grid.css" rel="stylesheet" />
    <link href="~/Content/css-NgBan/main.css" rel="stylesheet" />
    <link href="~/Content/css-NgBan/reset.css" rel="stylesheet" />
    <link href="~/Content/css-NgBan/menu.css" rel="stylesheet" />
    @*<link href="~/Areas/Admin/Content/css/slider.css" rel="stylesheet" />*@
    <link href="~/Content/css-NgBan/responsive.css" rel="stylesheet" />
    @*<link href="~/Areas/Admin/Content/css/validator.css" rel="stylesheet" />*@
    <link href="~/Content/css-NgBan/welcome-banhang.css" rel="stylesheet" />

    <link href="~/Content/Hinh/logo-favicon.png" rel="icon" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- <link rel="stylesheet" href="./assets/bootstrap-5.1.3-dist/bootstrap-5.1.3-dist/css/bootstrap.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
          rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
    <div class="app">
        <header class="header">
            <div class="grid wide">
                <!--Header with search-->
                <div class="header-with-search">

                    <label for="mobile-search-checkbox" class="header__mobile-search">
                        <i class="header__mobile-search-icon fas fa-search"></i>
                    </label>
                    <div class="header__logo hide-on-tablet" style="width: 400px;">
                        <a href="" class="header__logo-link">
                            <img src="~/Content/Hinh/logo-favicon.png"
                                 alt="logo"
                                 class="header__logo-img" />
                            <p>Đăng Ký Trở Thành Người Bán TFT-Market</p>
                        </a>
                    </div>

                    <input type="checkbox" hidden id="mobile-search-checkbox" class="header__search-checkbox">

                    <!--Cart layout-->
                    <div class="header__cart">
                        <!--<div class="header__cart-wrap">
                            <i class="header__cart-icon fas fa-solid fa-bell"></i>
                            <span class="header__cart-notice">0</span>-->

                            <!-- No cart: header__cart-list-no-cart -->
                            <!--<div class="header__cart-list">-->
                                <!-- <img src="./assets/img/empty-cart.jpg"alt="" class="header__cart-no-cart-img"/> -->
                                <!-- <span class="header__cart-list-no-cart-msg">Chưa có sản phẩm</span> -->

                                <!--<h4 class="header__cart-heading">Thông báo</h4>
                                <ul class="header__cart-list-item">-->
                                    <!-- Cart item -->
                                    <!--<li class="header__cart-item">

                                    </li>


                                </ul>-->

                                <!-- <a href="./cartitems.html" class="header__cart-view-cart btn btn--primary">Xem giỏ hàng</a> -->
                            <!--</div>
                        </div>-->
                        <div class="header__cart-wrap">
                            @*<i class="header__cart-icon useracc fas fa-user" style="cursor:pointer;" onclick="myFunction()"></i>*@
                            <div class="header__navbar-item header__navbar-user">
                                <img src="@Url.Content(Session["Hinh"].ToString())" alt="" class="header__navbar-user-img" style="width: 30px; height: 30px;">
                                <span class="header__navbar-user-name" style="color: var(--text-color);">@Session["Email"]</span>
                                <div class="dropdown-content  useracc">
                                    <div class="box-noneshow"></div>
                                    <a href="@Url.Action("DetailUser", "Register")">Xem tài khoản</a>
                                    <a href="@Url.Action("DangXuat", "NgBan")">Đăng xuất</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <label for="mobile-list-checkbox" class="header__mobile-list">
                        <i class="header__mobile-list-icon fas fa-bars"></i>
                    </label>
                    <input type="checkbox" id="mobile-list-checkbox" class="header__list-checkbox">

                    <label for="mobile-list-checkbox" class="overlay"></label>
                    <div class="sidemenu-list">
                        <label for="mobile-list-checkbox" class="sidemenu-close-2">
                            <i class="fas fa-times"></i>
                        </label>
                        <ul class="nav_mobile-list">
                            <li>
                                <a href="" class="nav_mobile-list-link">Đăng ký</a>
                            </li>
                            <li>
                                <a href="" class="nav_mobile-list-link">Đăng nhập</a>
                            </li>
                        </ul>
                        <div class="sidemenu-icon">
                            <a href="#" class="sidemenu-icon-link">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#" class="sidemenu-icon-link">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" class="sidemenu-icon-link">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>


            </div>

            <ul class="header__sort-bar">
                <li class="header__sort-item">
                    <a href="" class="header__sort-link">Liên quan</a>
                </li>
                <li class="header__sort-item header__sort-item--active">
                    <a href="" class="header__sort-link">Mới nhất</a>
                </li>
                <li class="header__sort-item">
                    <a href="" class="header__sort-link">Bán chạy</a>
                </li>
                <li class="header__sort-item">
                    <a href="" class="header__sort-link">Giá</a>
                </li>
            </ul>

        </header>


        <div class="app__container">
            <div class="grid wide">

                <div class="row sm-gutter app__content" style="display: flex; justify-content: center; padding-bottom: 80px;">

                    @*<div class="col l-2-1 m-0 c-0">
                    </div>*@
                    @RenderBody()
                    @*<div class="col l-6 m-12 c-12">

                        </div>*@
                </div>
            </div>
        </div>



        @*<footer class="footer2">
            <div class="footer__bottom2">
                <div class="grid wide">
                    <p class="footer__text">© @DateTime.Now.Year - Bản quyền thuộc về Công ty TNHH TaFiShop</p>
                </div>
            </div>

        </footer>*@
    </div>


    <script src="~/Scripts/js/menu.js"></script>
    <script src="~/Scripts/js/upload.js"></script>
    <script src="~/Scripts/js/show-hide-detail.js"></script>
    <script src="~/Scripts/js/acc-show-hide.js"></script>
    <script src="~/Areas/Admin/Js/validator.js"></script>
    @*<script src="~/Areas/Admin/Js/validator2.js"></script>*@
    <script src="https://kit.fontawesome.com/2d69c8ebbe.js" crossorigin="anonymous"></script>
</body>
</html>
